/* || =========================================================================================
|| Table of Contents:
||
|| - Universal Changes
|| - Group Coloring
|| - FIXED BACKGROUND styling
|| - POPULATED HEADER styling
|| - POPULATED NAVLIST styling
|| - FIXED CONTENT styling
|| - POPULATED TITLE styling
|| - FIXED INDEX styling
|| - DYNAMIC INDEX styling
|| - POPULATED ATTRIBUTES styling
|| - FIXED and POPULATED DESCRIPTION styling
|| - POPULATED FOOTER styling
|| ========================================================================================= 
 */



/* 
||==========================================================================================
|| Universal changes made to all HTML elements of the generic kind 
||==========================================================================================
*/

	/* The default background color and general text settings */
	body {
		background: rgb(219,219,224);
		font-family: sans-serif;
		margin: 0px;
		padding: 0px;
		overflow: visible;
	}

	/* The generic span used most often in game journals */
	span {
		display: block;
		position: bottom;
		margin-right: 10px;
	}

	/* Level one headings, only seen in the header as the home button and the page title */
	h1 {
		font-size: x-large;
		color: rgb(225, 225, 225);

	}

	/* Headings that are not in the header */
	h2, h3, h4 {
		font-weight: bolder;
		color: rgb(25,25,25);

	}

	/* Level two headings, only used for the first heading outside of the header, usually consists of "Overview" */
	h2 {
		font-size: x-large;

	}

	/* Level three headings */
	h3 {
		font-size: larger;
		margin-left: 10px;
	}

	/* Level four headings */
	h4 {
		font-size: medium;
		font-style: italic;
		margin-left: 10px;

	}

	/* The generic horizontal line break */
	hr {
		display: block;
		height: 1px;
		border: 0;
		border-top: 1px solid rgb(0,0,0);
		margin: 1em 0;
		padding: 0;
	}

	/* All buttons will show cursor by default */
	button {
		cursor: pointer;
	}

	/* All sections white and rounded by default */
	section {
		background-color: rgb(255,255,255);
		border-radius: 10px;
		max-width: 90vw;
	}

	/* All divs bound by viewport */
	div {
		max-width: 100vw;
	}

	/* All tables bound by viewport */
	table {
		max-width: 100vw;
	}

	/* 
	Styling for the hyperlinks 
	*/
	a {
		text-decoration: none;
	}
	a:hover {
		text-decoration: underline;
	}

	/* A frame limit for the youtube embeds */
	iframe {
		max-width: 80vw;
	}

	button {
		background-size: cover;
	}


/* 
||==========================================================================================
|| A variety of classes and ids that share some styling such as color
||==========================================================================================
*/

	/* A condensed dark grey background color style group for the header and footer elements */
	#populated-header, .populated-header-button-home, .populated-header-button-subsite, #page-back-button, .fixed-index, #populated-footer, .page-footer-button {
		background-color: rgb(54,57,63);
	}

	/* A condensed dark grey border color style group for the header elements */
	.populated-header-button-home, .populated-header-button-subsite, .fixed-index-button-entry, #page-back-button, .page-footer-button, .dynamic-index-button-sort {
		border-color: rgb(54,57,63);
	}

	/* A condensed off black color style group for dark text elements */
	body, #populated-title tr th, #populated-title th, #populated-title tr td, #populated-title td, #populated-title tr th, #populated-title th, #populated-title tr td, #populated-title td, .populated-details-table tr th, .populated-details-table th, .populated-details-table tr td, .populated-details-table td, .build-selections-table tr th, .build-selections-table tr td, .build-selections-table td:nth-child(1) {
		color: rgb(25,25,25);
	}

	/* A condensed off white color style group for light text elements or backgrounds */
	.populated-header-button-subsite, #populated-header, button a, td, th {
		color: rgb(219,219,224);
	}

	/* Colored stylings for development */
	/* #populated-header {
		background-color: red;
	}
	.fixed-content {
		background-color: orange;
	}
	#populated-title, #populated-title {
		background-color: yellow;
	}
	.fixed-index {
		background-color: green;
	}
	#fixed-description {
		background-color: blue;
	}
	#populated-footer {
		background-color: purple;
	} */


/* 
||==========================================================================================
|| FIXED BACKGROUND styling
||==========================================================================================
*/

	/* The background container div that all other HTML elements rest inside (or on top) of */
	#fixed-background, #fixed-background, #fixed-background, #fixed-background, #fixed-background {
		overflow-x: hidden;
		position: relative;
		width: 100%;
		height: auto;
		min-height: 80vh;
		overflow: visible;
		background-repeat: repeat-y;
		background-size: 100% 100%;
		padding: 0px;
		padding-bottom: 25vh;
		background-attachment: fixed;
	}
	#fixed-background {
		background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Taichung_sunset_skyline_2019.jpg/1200px-Taichung_sunset_skyline_2019.jpg?20200526005223");
	}
	#fixed-background {
		background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/e6/Conways_game_of_life_breeder_animation.gif?20140304220345");
	}
	#fixed-background {
		background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/0/07/Maurice_Prendergast_-_Fantasy_-_Google_Art_Project.jpg/1200px-Maurice_Prendergast_-_Fantasy_-_Google_Art_Project.jpg?20130108152852");
	}
	#fixed-background {
		background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/3/35/Cloudscape_Over_the_Philippine_Sea.jpg/1199px-Cloudscape_Over_the_Philippine_Sea.jpg?20161117110401");
	}
	#fixed-background {
		background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/9/9e/A_New_View_of_the_Tarantula_Nebula.jpg/1166px-A_New_View_of_the_Tarantula_Nebula.jpg?20120423153745");
		background-position: 3%;
		background-size: 106% 100%;
	}


/* 
||==========================================================================================
|| POPULATED HEADER styling
||==========================================================================================
*/

	/* The header where site title is displayed, and where sitewide navigation begins */
	#populated-header {
		width: 100%;
		margin: 0px;
		padding: 0px;
		flex-direction: row;
		text-align: center;
	}

	/* The topmost center button that takes us back to the homepage from anywhere on the site */
	.populated-header-button-home {
		width: 600px;
		max-width: 100%;
		border-style: dotted;
	}

	/* The site navigation buttons that line the header */
	.populated-header-button-subsite {
		width: 10vw;
		min-width: 65px;
		height: 50px;
		border-style: dotted;
	}

	/* On hovering over the header buttons, set the border to a visible off white */
	.populated-header-button-home:hover, .populated-header-button-subsite:hover {
		border-color: rgb(219,219,224);
		border-radius: 10px;
	}


/* 
||==========================================================================================
|| POPULATED NAVLIST styling
||==========================================================================================
*/


	/* The navlist element and table */
	#populated-navlist, #populated-navlist-table {
		width: auto;
		min-width: 135px; 
	}
	#populated-navlist {
		position: fixed;
		right: 0;
		margin-right: -280px;
		margin-top: -100px;
		z-index: 5;
		width: 250px;
		min-height: 100px;

		padding: 10px;

		visibility: visible;

		height: auto;
		border: 5px solid rgb(100,100,100);
		background-color: rgb(200,200,200);
	}
	#populated-navlist-table th {
		border-bottom: 1px dotted grey;
		text-align: left;
	}

	/* The fixed button that hides and unhides the nav table */
	#populated-navlist-button {
		position: fixed;
		right: 0;
		margin-right: 0px;
		margin-top: -13.5px;
		z-index: 11;

		width: 50px;
		
		color: aqua;
		background-color: rgb(100,100,100);
		
		border: 1px solid rgb(125,125,125);
		border-right: 0px;
		border-radius: 5px;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
	}


/* 
||==========================================================================================
|| FIXED CONTENT styling
||==========================================================================================
*/


	/* The off white chunk of the page that holds content */
	.fixed-content {
		height: auto;
		width: 92vw;

		box-sizing: border-box;
		overflow-wrap: break-word;

		margin-left: 4vw; 
		margin-right: 4vw;
		margin-top: 2vw;
		margin-bottom: 2vw;

		padding: 1vw;
	}

	.fixed-content-anchor {
		width: 100%;
		visibility: hidden;
	}
	

/* 
||==========================================================================================
|| POPULATED TITLE styling
||==========================================================================================
*/


	#populated-title, .populated-details-table {
		display: inline-block;
		margin: 0;
		border-collapse: collapse;
		overflow: auto;
		max-width: 88vw;
		border: 0px solid rgb(50,50,50);
	}
	#populated-title thead tr td, .populated-details-table thead tr td{
		background-color: transparent;
		width: 88vw;
		border-color: transparent;
		border-bottom: 2px solid rgb(50,50,50);
	}
	.populated-details-table thead tr td {
		padding: 0px;
	}
	.populated-details-table tr th, .populated-details-table th, .populated-details-table tr td, .populated-details-table td {
		color: rgb(25,25,25);
	}
	#populated-title th, #populated-title td, .populated-details-table th, .populated-details-table td {
		padding: 8px;
		vertical-align: top;
		border: 1px solid rgb(50,50,50);
	}
	#populated-title tr th, #populated-title th, .populated-details-table tr th, .populated-details-table th {
		background-color: rgb(150,150,150);
		font-size: medium;
		text-align: left;
	}
	#populated-title tr td, #populated-title  td, .populated-details-table tr td, .populated-details-table td {
		background-color: rgb(200,200,200);
		font-size: medium;
		text-align: left;
	}


/* 
||==========================================================================================
|| FIXED INDEX styling
||==========================================================================================
*/

	/* A table to hold the various navigation buttons present in the page regardless of button styling */
	.fixed-index, .populated-index {
		background-color: rgb(50, 50, 50);
		float: right;
		height: auto;
		width: auto;
		max-width: 99%;
		display: flex;
		overflow: auto;
		border-radius: 20px;
		margin-left: 1%;
	}

	/* A heading to signify an index section */
	.fixed-index-category {
		width: 24vw;
		min-width: 150px;
		max-width: 80vw;
		color: antiquewhite;
	}

	/* A button to navigate the website file structure from the page content, signifying a directory page */
	.fixed-index-button-directory {
		width: 24vw;
		min-width: 150px;
		max-width: 80vw;
		height: auto;
		min-height: 55px;
		margin: 0.5vw;
		border-radius: 20px;
		background-color: rgb(175, 175, 175);
		border: 2px solid orange;
		font-size: large;
		font-weight: bold;
	}

	/* A button to navigate the website file structure from the page content, signifying an entry page */
	.fixed-index-button-entry {
		width: 24vw;
		min-width: 150px;
		max-width: 80vw;
		height: auto;
		min-height: 45px;
		margin: 0.5vw;
		border-radius: 10px;
		background-color: rgb(250, 209, 209);
		border: 2px solid orange;
		font-size: medium;
		font-weight: bold;
	}


	
/* 
||==========================================================================================
|| DYNAMIC INDEX styling
||==========================================================================================
 */


	/* The dynamic index itself */
	#dynamic-index {
		border-collapse: collapse; 
		width: 100%; 
		border: 1px solid rgb(97, 97, 97); 
		overflow: scroll;
		display: inline-block;
	}
	#dynamic-index th, #dynamic-index tr td {
		text-align: left;
		padding: 5px; 
		min-width: 175px;
		color: black;
		border: 1px solid black;
	}
	#dynamic-index th {
		background-color: rgb(150,150,150);
	}
	#dynamic-index tr {
		border-bottom: 1px solid rgb(61, 61, 61);
	}
	#dynamic-index tr {
		background-color: rgb(200,200,200);
	}

	/* The input box that reads filter queries */
	.dynamic-index-input {
		background-image: url('/css/searchicon.png'); 
		background-position: 10px 12px; 
		background-repeat: no-repeat; 
		width: auto; 
		padding: 10px; 
		border: 2px solid rgb(63, 62, 62); 
		border-radius: 5px;
		margin-bottom: 12px; 
	}

	/* The buttons that contain the column header, which can be clicked to sort the dynamic table by that column */
	.dynamic-index-button-sort {
		width: auto;
		height: auto;
		margin: 0px;
		border-radius: 7px;
		background-color: rgb(175, 175, 175);
		border-style: solid;
		font-size: small;
		font-weight: bold;
	}


	/* 
||==========================================================================================
|| POPULATED ATTRIBUTES styling
||==========================================================================================
 */


	/* An overview table used frequently throughout the site */
	#populated-attributes {
		display: block;
		float: right;
		overflow: auto;
		border-collapse: collapse;
		width: 100%;
		max-width: 400px;
		padding: 0px;
		margin: 0px;
		margin-right: 0px;
		margin-left: 10px;
		border: 5px solid rgb(150,150,150);
		border-radius: 32px;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		background-color: rgb(200, 200, 200);
	}
	#populated-attributes tr:first-child th {
		object-fit: cover;
		overflow: hidden;
	}
	#populated-attributes th, #populated-attributes td {
		padding: 10px;
		vertical-align: top;
	}
	#populated-attributes tr th {
		background-color: rgb(200,200,200);
		color: rgb(58,58,58);
		font-size: small;
	}
	#populated-attributes tr td {
		background-color: rgb(225,225,225);
		color: rgb(58,58,58);
		font-size: small;
		text-align: left;
	}
	#populated-attributes tr:nth-child(2) th, #populated-attributes tr:nth-child(1) th {
		color: rgb(58,58,58);
		padding: 2px;
		border-top: 0px;
		font-size: smaller;
		text-align: center;
	}
	#populated-attributes tr:nth-child(2) th {
		border-top: 2px solid rgb(175,175,175);
	}
	#populated-attributes tr:nth-child(3) th, #populated-attributes tr:nth-child(4) th {
		background-color: rgb(100,100,100);
		color: rgb(25,25,25);
		font-size: large;
	}
	#populated-attributes tr:nth-child(4) th {
		padding-top: 0px;
		font-size: small;
	}
	#populated-attributes-image {
		width: 110%;
		height: auto; 
		display: block;
		overflow: hidden;
		margin: -5%;
		margin-bottom: -1%;
	}


/* 
||==========================================================================================
|| FIXED and POPULATED DESCRIPTION styling
||==========================================================================================
 */


	#fixed-description {
		background-color: transparent;
	}

	/* The generic text wrapper across the site */
	p {
		color: rgb(25,25,25);
		margin-left: 25px;
		margin: 15px;
		min-width: 20vw;
	}

	p:before, h1:before, h2:before, h3:before {
		content: "";
		width: 125px;
		display: block;
		overflow: hidden;
		/* For Demonstration */
		/* border: 1px solid orange; */
	}

	/* A text wrapped image to be inserted into the page description */
	.fixed-content-image-left {
		width: 200px;
		float: left;
		padding: 0px;
		padding-right: 15px;
	}

	/* A text wrapped image to be inserted into the page description */
	.fixed-content-image-right {
		width: 200px;
		float: right;
		padding: 0px;
		padding-left: 15px;
	}

	.populated-description-div p {
		white-space: nowrap;
	}


/* 
||==========================================================================================
|| POPULATED FOOTER styling
||==========================================================================================
 */

	/* The actual footer element to be imported into other pages */
	#populated-footer {
		padding: 0px;
		margin: 0px;
		position: absolute;
		z-index: 10;
		bottom: 0;
		width: 100%;
		height: 150px;
		overflow-x: hidden;
	}

	/* The icons that serve as links to other sites within the footer */
	.page-footer-icon {
		height: 40px;
		max-height: 5vw;
		width: 40px;
		max-width: 5vw;
	}

	/* The buttons that holds the icons and link to other sites */
	.page-footer-button {
		margin-top: 15px;
		margin-bottom: 10px;
		margin-left: 0.5vw;
		margin-right: 0.5vw;
		height: 80px;
		max-height: 8vw;
		width: 80px;
		max-width: 8vw;
		border-radius: 40px;
		border-style: dashed;
	}

	/* The border that animates when moused over */
	.page-footer-button:hover {
		border-color: aqua;
	}












































/* 
||==========================================================================================
|| MISC and UNKNOWN styles
||==========================================================================================
*/






	/* A button present on nearly every page that navigates out in the file structure */
	#page-back-button {
		position: relative;
		width: 175px;
		height: 50px;
		border-style: solid;
		font-size: small;
		color: aqua;
		float: right;
		border-bottom-left-radius: 10px;
		border-top-left-radius: 10px;
		border-top-right-radius: 20px;
		border-bottom-right-radius: 50px;
	}

	/* The school of magic buttons */
	.directory-page-nav-button-magic-school {
		width: 200px;
		height: 200px;
		border-radius: 100px;
		border: 0px;
		margin: 3px;
		padding: 0px;
		background-color: rgb(189,188,173);
	}

	/* 
	The plane buttons 
	*/
	.directory-page-nav-button-plane-quasi, .directory-page-nav-button-plane-primal, .directory-page-nav-button-plane-material {
		padding: 10px;
		background-color: rgb(175, 175, 175);
		border-style: solid;
		font-size: larger;
		font-weight: 900;
		-webkit-text-stroke: 0.5px whitesmoke;
		text-align: center;
		display: block;
		position: relative;
		image-resolution: 5dpi;
	}
	.directory-page-nav-button-plane-quasi {
		width: 150px;
		height: 150px;
		border-radius: 75px;
		margin: 35px;
	}
	.directory-page-nav-button-plane-primal {
		width: 200px;
		height: 200px;
		border-radius: 100px;
		margin: 10px;
	}
	.directory-page-nav-button-plane-material {
		width: 100px;
		height: 100px;
		border-radius: 50px;
		margin: 60px;
	}

	/* 
	The buttons used to navigate and organize the classes within caped crusaders 
	*/
	/* .populated-index-button-tech, .populated-index-button-power, .populated-index-button-magic, .populated-index-button-generic {
		width: 200px;
		height: auto;
		margin: 5px;
		background-color: rgb(175, 175, 175);
		padding: 0px;
		border-radius: 25px;
		border-style: hidden;
		font-size: medium;
		display: block;
		position: relative;
	}
	.populated-index-button-generic {
		height: 35px;
	}
	.populated-index-button-content-ceiling, .populated-index-button-content-floor {
		background-color: rgb(175, 175, 175);
		margin: 0px;
		padding: 10px;
		text-align: left;
	}
	.populated-index-button-content-ceiling {
		min-height: 175px;
	}
	.populated-index-button-tech {
		color: rgb(50, 50, 125);
	}
	.populated-index-button-power {
		color: rgb(125, 50, 50);
	}
	.populated-index-button-magic {
		color: rgb(125, 125, 50);
	}
	.populated-index-button-generic {
		color: rgb(25, 25, 25);
	} */



	/* 
	||==========================================================================================
	|| Image styling
	||==========================================================================================
	*/


	/* Small images for use within buttons or dynamic table entries */
	.dynamic-index-image, .class-image-small {
		width: 50px;
		float: right;
	}

	/* Medium images used to signify the class and subclass employed by character builds */
	.class-image-medium, .subclass-image-medium {
		width: 100px;
		float: right;
		border: 4px solid rgb(100,100,100);
		border-radius: 16px;
		margin: 2px;
	}

	/* Large images to be used for entry pages */
	#page-image, .class-image-large, .subclass-image-large {
		width: 100%;
	}



	/* 
	||==========================================================================================
	|| Static tables 
	||==========================================================================================
	*/

	/* 
	An overview table for caped crusaders entry pages 
	*/
	/*.populated-details-table {
		width: 75vw;
	}
	#populated-title, .populated-details-table {
		width: 100%;
		margin: 0;
		margin-bottom: 15px;
		overflow-x: auto;
		border: 0px solid rgb(50,50,50);
		border-collapse: collapse;
	}
	#populated-title thead tr td, .populated-details-table thead tr td{
		border: 0px hidden aqua;
		background: transparent;
		background-color: transparent;
	}
	#populated-title thead tr td {
		width: 80vw;
	}
	#populated-title th, #populated-title td, .populated-details-table th, .populated-details-table td {
		padding: 8px;
		vertical-align: top;
		border: 1px solid rgb(50,50,50);
	}
	#populated-title tr th, #populated-title th, .populated-details-table tr th, .populated-details-table th {
		background-color: rgb(150,150,150);
		font-size: medium;
		text-align: left;
	}
	#populated-title tr td, #populated-title  td, .populated-details-table tr td, .populated-details-table td {
		background-color: rgb(200,200,200);
		font-size: medium;
		text-align: left; 
	} */

	/* 
	A table that details the character build decisions made at each level 
	*/
	.build-selections-table {
		display: inline-table;
		width: 35vw;
		margin: 10px;
		margin-right: 0px;
		margin-left: 10px;
		overflow: auto;
		border: 1px solid rgb(50,50,50);
		border-collapse: collapse;
		float: right;
	}
	.build-selections-table th, .build-selections-table td {
		width: auto;
		padding: 7px;
		vertical-align: top;
		background-color: aqua;
		border: 1px solid rgb(50,50,50);
	}
	.build-selections-table tr th {
		background-color: rgb(125, 125, 125);
		font-size: large;
		text-align: center;
	}
	.build-selections-table tr td {
		background-color: rgb(225, 225, 225);
		font-size: small;
		text-align: left;
	}
	.build-selections-table td:nth-child(1) {
		background-color: rgb(175, 175, 175);
		font-size: small;
		text-align: center;
		width: 7vw;
	}

	/* 
	A small table to hold the entry page image and author credit 
	*/
	#entry-page-image-table {
		float: right;
		width: 25vw;
		max-width: 25vw;
		margin: 0px;
		margin-right: -10px;
		margin-left: 10px;
		border: 7px solid rgb(150,150,150);
		border-radius: 32px;
		background-color: rgb(200, 200, 200);
	}
	#entry-page-image-table tr:nth-child(2) td {
		color: rgb(58,58,58);
		padding: 2px;
		border-top: 0px;
		font-size: smaller;
		text-align: center;
		border-top: 2px solid rgb(175,175,175);
	}


